body {
    text-align: center;
    font-family: Pacifico;
  }
  
  h1 {
    font-family: Pacifico;
    font-size: 70px;
    margin: 0.2em;
    color:rgb(15, 22, 8)
  }
  
  h2 {
    margin: 1em 0 0.25em;
  }
  
  h2:first-of-type {
    margin-top: 0.5em;
  }
  
  table,
  tr,
  td {
    border: 0.5px solid black;

  }
  
  table {
    border-collapse: collapse;
    margin: 0 auto;
  }
  

  
  td {
    width: 20px;
    height:20px;
  }
  tr {
    width: 20px;
    height:20px; 
   } 
  input[type="number"] {
    width: 6em;
  }
  